/*Visualizza il banner solo sulla homepage*/
body[class*="category-"] #homepage-banner {display: none;}
body[class*="categories-list"] #homepage-banner {display: none;}

#homepage-banner {
    background: url(/uploads/default/original/2X/9/92d304d411f7b8738ced67462a88758f9fdd97c5.jpeg);
    background-size: cover;
    margin-bottom: 20px;
}
.circle-img-welcome {
    background-image: url("/uploads/default/original/2X/5/53a8df45c6c5eb570747f15d81c3540ebf918b27.png");
    background-size: cover;
    float: left;
    margin: 7% 32px;
    position: relative;
    height: 150px;
    width: 150px;
}
.welcome-message {
    margin-top: 10px;
    position: relative;
}
@media(max-width: 1200px) {
    .welcome-message {
    float: right;
    width: 68%;
    }
} 
@media(max-width: 600px) {
    .welcome-message h1 {
    font-size: 62px;
    }
} 
.welcome-message h1 .new{
    color: #F26722;
}
.welcome-message h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.4em;
    font-weight: 200;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    color: #1282C5;
    font-weight: 700;
    filter: drop-shadow(1px 1px 1px #ddd) drop-shadow(-1px 1px 1px #ddd) drop-shadow(1px -1px 1px #ddd) drop-shadow(-1px -1px 1px #ddd);
}
.welcome-message .text {
    float: left;
    width: 52%;
    padding-right: 50px;
    /*font-family: Whitney SSm A,Whitney SSm B, Helvetica Neue,Helvetica,Arial,sans-serif;*/
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin: 10px auto;
    }
    
/*.welcome-message .text p:not(.button) {
    filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000) drop-shadow(-1px -1px 1px #000);
}*/
@media(max-width: 480px) {
    .welcome-message .text {
    float: left;
    width: 53%;
    padding-right: 50px;
    }
}
.welcome-message p {
    line-height: 1.7;
}
.welcome-message a {
    color: #00a0dc;
}
.text .buttonx:hover {
    background: transparent;
    border: solid 3px #F26722;
    color: #F26722;
    background: white;
    border-radius: 15px;
}    
.text .buttonx {
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
    border: solid 3px #1b95d2;
    padding: 6px 11px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.42857;
    color: #1b95d2;
    background: white;

}
.welcome-message .links {
    float: right;
    width: 20%;
    background: #ffffff80;
    margin: 10px;
    padding: 10px;
    border: 3px solid #F26722;
    border-radius: 15px;
    -webkit-box-shadow: -10px 10px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -10px 10px 12px 0px rgba(0,0,0,0.75);
    margin-top: -30px !important;
}
@media(max-width: 480px) {    
    .welcome-message .links {
    float: right;
    width: 30%;
    }
}
@media(max-width: 480px) { 
    .welcome-message .links ul {
    margin: 0 0 0 16px;
    }
}
.welcome-message::after {
    clear: both;
    content: '';
    display: table;
}
.links ul li a strong {
    filter: drop-shadow(1px 1px 1px #ddd) drop-shadow(-1px 1px 1px #ddd) drop-shadow(1px -1px 1px #ddd) drop-shadow(-1px -1px 1px #ddd);
}
/*.links ul li a {
    border: solid 3px #1b95d2;
    padding: 6px 11px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 3em;
}*/
/*a[href="https://github.com/AdunanzA/Tsunami"]:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f09b";
  margin-right: 3px;    
}*/
a[href="/t/-/14842"]:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f0ed";
  margin-right: 3px;    
}
a[href="/t/-/14843"]:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f022";
  margin-right: 3px;    
}
a[href="/t/-/14150"]:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f188";
  margin-right: 3px;    
}
//Metto le icone di download anche alle voci emule e amule
a[href="/t/-/1864"]::before, a[href="/t/-/1865"]::before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f0ed";
    margin-right: 3px;
}
.warning {
    font-size: 12px;
    font-weight: bold;
    color: #F26722;
    filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000) drop-shadow(-1px -1px 1px #000);
}

.close {
    border: none;
    background: transparent;
    padding-top: 5px;
    float: right;
    color: black;
}
